body {
    background-image: url('pokeball.avif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

h1{
    text-align: center;
}

img{
    width: 35%;
    display: flex;
    margin-left: 35%;
    margin-top: 4%;
}